.logoContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

.logoTextContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 5.2rem;
  width: 5.5rem;

  object-fit: contain; /* Adjust this property */
}

.text {
  font-size: 26px;
  font-weight: 600;

  margin-left: 10px;
  color: white;
  white-space: nowrap;
}
